<header>
  <nav class="py-2 px-2 w-full flex flex-row justify-between">
    <h1><a href="/">Ascend</a></h1>
    <div>
      <button class="bg-zinc-800 px-4 py-1 rounded-full text-sm hover:bg-zinc-700 transition">
        Sign in
      </button>
    </div>
  </nav>
</header>
<main>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>

